In [3]:
import pandas as pd

tables = pd.read_html('https://home.treasury.gov/resource-center/data-chart-center/interest-rates/TextView?type=daily_treasury_yield_curve&field_tdr_date_value=2024')

In [4]:
len(tables)

1

In [12]:
tables[0]

,Date,20 YR,30 YR,Extrapolation Factor,8 WEEKS BANK DISCOUNT,COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,COUPON EQUIVALENT.1,52 WEEKS BANK DISCOUNT,COUPON EQUIVALENT.2,...,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,01/02/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.41,5.24,4.80,4.33,4.09,3.93,3.95,3.95,4.25,4.08
1,01/03/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.41,5.25,4.81,4.33,4.07,3.90,3.92,3.91,4.21,4.05
2,01/04/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.41,5.25,4.85,4.38,4.14,3.97,3.99,3.99,4.30,4.13
3,01/05/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.41,5.24,4.84,4.40,4.17,4.02,4.04,4.05,4.37,4.21
4,01/08/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.39,5.24,4.82,4.36,4.11,3.97,3.99,4.01,4.33,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,10/22/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.66,4.47,4.24,4.03,3.98,4.00,4.10,4.20,4.55,4.49
203,10/23/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.66,4.48,4.27,4.07,4.03,4.05,4.14,4.24,4.58,4.51
204,10/24/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.65,4.48,4.25,4.07,4.02,4.03,4.12,4.21,4.54,4.47
205,10/25/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.68,4.51,4.29,4.11,4.05,4.07,4.15,4.25,4.58,4.51
206,10/28/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.65,4.46,4.28,4.12,4.09,4.11,4.19,4.28,4.61,4.53

In [ ]:
python manage create my